.art {
  display: flex;
  flex-direction: column;
  width: 65vw;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.art__pic {
  width: 80vw;
}

.art__devider {
  margin: 30px 0px 30px 0px;
  border: 1px solid #E8E7E7;
  width: 100%;
}

.art__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  
  margin: 30px 0px 30px 0px;
  color: #2D3748;
}
.art__title-cont {
  display: flex;
  align-self: flex-start;
}
.art__subtitle {
  display: flex;
  /* align-self: flex-start; */
  justify-content: space-between;
  width: 40%;
}

.art__subtitle1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  
  /* 800 */
  
  color: #2D3748;
}

.art__subtitle2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  
  /* 600 */
  
  color: #718096;
}
/* @media (min-width: 922px) {
  .button {
    width: 80vw;
    justify-content: right;
  }
  .button__cont {
    justify-content: space-around;

    width: 122px;
  }
  
}
@media (max-width: 921px) {
  .button {
    width: 97vw;
    justify-content: center;
  }
  .button__cont {
    justify-content: center;
    width: 97vw;

  }
} */
.art__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  /* 600 */
  
  color: #718096;
}

.art__text-cont {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.art__text1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 30px 0px 30px 0px;
  line-height: 19px;
  color: #000000;
}

.art__text2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 19px;
  margin: 30px 0px 30px 0px;
  color: #000000;
}

.art__end {
  margin-bottom: 30px;
}

.button__top {
  display: flex;
  /* align-self: flex-end; */
  justify-content: center;
  align-items: center;
  border-style: none;
  padding: 0px;
  background-color: white;

}

.button__top-wrapper {
  display: flex;
  align-self: flex-end;
  margin-bottom: 50px;
  margin-right: 50px;
}


/* .button__top-img {
  filter: invert(24%) sepia(75%) saturate(3458%) hue-rotate(254deg) brightness(76%) contrast(104%);
  transform: matrix(1, 0, 0, -1, 0, 0);
} */