/* 
body {
  position: relative;

} */
.page__footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* position: absolute;
  bottom:0;
  left:0;
  width:100%; */
}

.devider {
  border: 1px solid #E8E8E8;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-self: center  ;
}

@media (min-width: 922px) {
  .footer__main {
    width: 80vw;
  }
  
}
@media (max-width: 921px) {
  .footer__main {
    width: 97vw;
  }
}

.footer__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;

}