
@media (min-width: 922px) {
  .header {
    justify-content: space-around;
  }
}

@media (max-width: 921px) {
  .header {
    /* display:flex; */
    flex-direction: column;
    justify-content: center;
  }
  .header__logo {
    text-align: center;
    margin: 10px;
  }
  .header__search {
    margin: 5px;
  }
}

.header {
  display:flex;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.page__header {
  padding: 20px;
  background-color: white;
}

.header__logo {
  flex: 0.3;
  /* width: 30wv; */
}

.header__search {
  flex: 0.4;
  display:flex;
  justify-content: center;
}

.header__nav {
  flex: 0.3;
  display:flex;
  justify-content: space-around;
}

.header__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration:none;
  color: #000000;
}

.header__links {
  margin: 3px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration:none;
  color: #000000;

}

/* .header__articles {
  margin: 3px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration:none;
  color: #000000;
} */

.search__button {
  border: 0;
  /* margin: 0;
  padding: 0; */
  background: none;
  cursor: pointer;
}

.search__input {
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #718096;
}