.main {

  display:flex;
  flex-direction: column;

}
/* Extra small	xs	Small to large phone	< 600px
Small	sm	Small to medium tablet	600px > < 960px
Medium	md	Large tablet to laptop	960px > < 1264px*
Large	lg	Desktop	1264px > < 1904px*
Extra large	xl	4k and ultra-wide	> 1904px* */
/* @media (max-width: 600px) and (orientation: landscape) { ... } */
/* --------------------------------home---------------------------------*/
@media (max-width: 921px) {
  
  .main__home {

    display:flex;
    padding: 1%;
    flex-direction: column;
    
  }
}

@media (min-width: 922px) {

  .main__home {
    
    display:flex;
    padding: 5%;
    
  }
}

.main__home {
  justify-content: space-around;
  align-items: center;
  background: #FBFBFB;
  
}


.home__titles {
  
  display:flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;

}

.home__cup {
  position: absolute;
  top: 55px;
  left: 200px
}

.home__title {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
  
}

.home__subtitle {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #4A5568;
  
}
/* --------------------------------home---------------------------------*/
/* --------------------------------articles---------------------------------*/

.articles {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-self:center;
}

@media (min-width: 922px) {
  .three {
    display: flex;
    justify-content: space-between;
    
  }
  .articles {
    width: 80vw;
  }
}

@media (max-width: 921px) {
  .three {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .articles {
    width: 97vw;
  }
}
.first:last-child {
  border-radius: 0px;
  border-style: none;
  box-shadow: none;
  background: #F7FAFC;
}
.lastimg:last-child {
  border-radius: 0px;
}
.box {
  box-sizing: border-box;
  flex: 1;
  margin: 20px 10px 0px 10px ;
  margin-bottom: 0px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.first {
  display: flex;
  justify-content: space-between;
  /* align-self: center; */
}

@media (min-width: 922px) {
  .first-box {
    /* flex-direction: column; */
    align-items: center;

  }
  .firstimg {
    border-radius: 5px 5px 5px 5px;
  }

  .brad {
    border-radius: 5px 5px 0px 0px;
  }
  .artb {
    flex-direction: column;
  }
}

@media (max-width: 921px) {
  .first-box {
    flex-direction: column;
  }

  .firstimg {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
  }

  .brad {
    border-radius: 0px 0px 5px 5px;
  }

  .artb {
    flex-direction: column-reverse;
  }
}
.artb {
  display: flex;
}
.fwidth {
  width: 100%;
}

.afirst {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2em;
}

.f-atitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #2D3748;
}

.f-atext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
}
.f-adate {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #718096;
}
.f-alink {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  
  color: #2D3748;
}

.f-footer {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}


/* --------------------------------articles---------------------------------*/

.button {
  display: flex;
  align-self:center;
  /* position: relative; */
  padding: 5px 5px 5px 5px;
}

@media (min-width: 922px) {
  .button {
    width: 80vw;
    justify-content: right;
  }
  .button__cont {
    justify-content: space-around;

    width: 122px;
  }
  
}
@media (max-width: 921px) {
  .button {
    width: 97vw;
    justify-content: center;
  }
  .button__cont {
    justify-content: center;
    width: 97vw;

  }
}

.button__cont {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #6B46C1;
  border-radius: 5px;
  border-style: none;
  margin: 31px 10px 31px 10px;
  height: 35px;
}

.button__icon {
  width: 1.4em;
  height: 1.4em;
  /* position: absolute; */
}

.button__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  
  color: #FFFFFF;
}