* {
  margin: 0;
}

.page__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.error {
  display: flex;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-self: center;
}